<a href="https://colab.research.google.com/github/JonathanJuez/Spotify/blob/main/Project_Spotify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd
from google.colab import drive

In [ ]:
pd.set_option('display.max_rows',250)

In [ ]:
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Data Engineer/data.csv")

In [ ]:
df.head()

   acousticness                    artists  ...  valence  year
0      0.991000            ['Mamie Smith']  ...   0.6340  1920
1      0.643000  ["Screamin' Jay Hawkins"]  ...   0.9500  1920
2      0.993000            ['Mamie Smith']  ...   0.6890  1920
3      0.000173        ['Oscar Velazquez']  ...   0.0422  1920
4      0.295000                   ['Mixe']  ...   0.2990  1920

[5 rows x 19 columns]

In [ ]:
dft = df.corr().abs().unstack().reset_index()
df_final=dft.loc[dft['level_0']!= dft['level_1']].sort_values(by=0,ascending=False)
df_final.head(10)

          level_0       level_1         0
53         energy      loudness  0.779267
123      loudness        energy  0.779267
3    acousticness        energy  0.750852
45         energy  acousticness  0.750852
14   acousticness          year  0.607515
210          year  acousticness  0.607515
8    acousticness      loudness  0.546639
120      loudness  acousticness  0.546639
213          year        energy  0.540850
59         energy          year  0.540850